@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Poppins:wght@400;800&family=Work+Sans:ital@0;1&display=swap');


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;
    
}

.main{
    width: 100%;
}

nav{
    width: 100%;
    background-color: rgb(33, 30, 30);  
    height: 80px;
    line-height: 80px;
    /* padding: 0px 100px; */
    display: flex;
    justify-content: space-between;
}

ul{
    margin: 0px;
    margin-right: 100px;
}
ul, li{
    float: left;
    padding: 0px 10px;
    list-style: none;
}

 .logo a{
    font-size: 39px;
    color: red;
    font-weight: bold;
    margin-left: 100px;
} 

a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
ul li a:hover{
    color: red;
}


.container  img{
    width: 60%;
}


.container {
     background-color: rgb(26, 26, 26); 
    display: flex;
    padding: 5% 3%; 
   
    
}
/* .container button {
    background-color: rgb(55, 51, 51);
    width: 25%;
    height: 3rem;
    cursor: pointer;
    color: #e9e0e0;
} */

.left-side img {
   width: 100%;
} 

.right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1%;
    padding: 0 2%;
}

.right-side h1, h4{
    
    padding: 5%;
    color: rgb(234, 247, 247);
    
}
 .right-side h1{
    font-size: 40px;
    color: rgb(250, 245, 245);
 }

 .right-side h4{
    font-size: 20px;
    color: rgb(236, 245, 245);
    word-spacing: 2px;
  font-weight: normal;
    
 }

 /* .right-side a, button{
    
    font-size: 17px;
    text-align: center;
 } */

  .left-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    color:rgb(31, 31, 32)
 } 

 .footer{
    background-color: #161616;
    padding: 70px 0;
    margin-top: 30px;
}

.container-3{
    max-width: 1450px;
    /* background-color: rgb(22, 18, 18); */
    margin: auto;
    
}
    
.row{
    display:flex;
    flex-wrap: wrap;

}
.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
   font-size: 18px;
   color: rgb(243, 241, 245);
   text-transform: capitalize;
   margin-bottom: 20px;
   position: relative;

   display: flex;
   column-gap: 30px;

} 
.footer-col p4,p5{
    color: #fff;
    font-size: 18px;
}

 .footer-bottom{
    margin-top: 30px;
    background: #222121;
    width: 100vw;
    padding: 20px 0;text-align: center;
}

.footer-bottom p6{
    font-size: 15px;
    word-spacing: 2px;
     text-transform: capitalize; 
    color: #fff;
}

.footer-bottom span{
    font-weight: 200;
    font-size: 16px;
    
} 

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col  p4, p5{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.social-icon{
     word-spacing: 2px; 
     position: relative;
     left: 13px;
}


  