<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../static/css/about.css" th:href="@{/css/about.css}">
     <!-- cdn-links -->
 <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">  

</head>
<body>
  
    <div class="main">
      <div class="wrapper">
       <div class="header">
          <nav>
              <div class="logo">
                <a href="">JFood</a>
              </div>
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/explore">EXPLORE FOOD</a></li>
                <li><a href="/reviews">REVIEW</a></li>
                <li><a href="/contact">CONTACT</a></li>
              </ul>
            </nav>
            </div>
            </div>
            </div>


            <section class="container">
                <div class="left-side">
                    <img src="../static/images/ab5-2.jpg" th:src="@{/images/ab5-2.jpg}">
                </div>
        
                <div class="right-side">
                    <h1><strong> We pride ourselves on making real food from the best ingredients.</strong> </h1>
                    <h4>JFood listed under Restaurants in Chandrapur City. We opened our JFood in 2019 with aim to deliver the best experience to the customer. Here you can find a wide variety of vegetarian,non-vegetarian and other food items. We provide various cuisines with an aesthetic seating arrangement and the best services.</h4>
                    <a href=""><button> <a href="/read">Read More</a></button></a>
                </div>
        
             </section> 
             
        
             <section class="container">
      
              <div class="right-side">
                  <h1><strong> We Make Everything By Hand With The Best Possible Ingredients.</strong> </h1>
                  <h4>you can see a different style of sitting in our restaurants. You can really feel the taste of South Indian style recipes and Telangana style dum biryani's. Famous for Veg biryani,Cheese Masala Dosa. 
                  </h4>
              </div>

              <div class="left-side">
                <!-- <img src="css/images/midab.jpg"/> -->
                <img src="../static/images/midab.jpg" th:src="@{/images/midab.jpg}"/>
            </div>
      
           </section> 

           
           <section class="container">
      
            <div class="left-side">
              <!-- <img src="css/images/ab8-1.jpg"/> -->
              <img src="../static/images/ab8-1.jpg" th:src="@{/images/ab8-1.jpg}"/>
          </div>
            <div class="right-side">
                <h1><strong>"Home like food and quality served" </strong> </h1>
                <h4>"Order Food Online from JFood and visit it's Explore food page for Home Delivery in Chandrapur. Fastest deliver Home Delivery in Chandrapur.Restaurants acts as great places for many situations. From team meetings to family dinners, it can help serve a wide range of audience. For any kind of assistance or questions,you can contact us on given contact number.<br> Open: 10.00 AM - 11.00 PM.
                </h4>
            </div>   
    
         </section> 

         <footer class="footer">
          <div class="container-3">
            <div class="row">
              <div class="footer-col">
                <h4>Location</h4>
                <p4>Nagpur Road,</p4><br>
                <p5>Civil Lines,Chandrapur</p5><br>
                <p5>Maharashtra(442401)</p5>
              </div>
      
             <div class="footer-col">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="/">Home</a></li><br>
                <li><a href="/about">About</a></li><br>
                <li><a href="/explore">Explore Food</a></li><br>
                <li><a href="/reviews">Review</a></li><br>
                <li><a href="/orderpg">Order</a></li><br>
                <li><a href="/contact">Contact</a></li><br>
              </ul>
             </div>
      
      
             <div class="footer-col">
              <h4>Contact Info</h4>
              <ul>
                <li><a href="">+123-456-7890</a></li>
                <li><a href="">+111-222-3330</a></li>
                <li><a href="#">hudpriya@gmail.com</a></li>
                <li><a href="#">raneprati@gmail.com</a></li>
              </ul>
             </div>

          
             <div class="footer-col">
              <h4>Social-links</h4>
              <div class="social-icon">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </div>
             </div>
            </div>
          </div>
           <div class="footer-bottom">
            <p6>Copyright &copy: 2019 JFood. <span>All Rights Reserved</span></p6>
          </div> 
        </footer>
            
      
      


</body>
</html>