<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read more</title>
  <link rel="stylesheet" href="../static/css/read.css" th:href="@{/css/read.css}">
  <!-- cdn-links -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
  <div class="main">
    <div class="wrapper">
      <div class="header">
        <nav>
          <div class="logo">
            <a href="">JFood</a>
          </div>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/explore">EXPLORE FOOD</a></li>
            <li><a href="/reviews">REVIEW</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <section class="container">
    <div class="left-side">
      <img src="../static/images/read 1.jpg" th:src="@{/images/read 1.jpg}">
    </div>

    <div class="right-side">
      <h1><strong> Good Food With Great Service.</strong> </h1>
      <h4>Nice place to come to with friends, family and kids. Staff is very polite and attentive, all the dishes taste
        delicious and are pure bliss to the tongue. Chinese food here is very nice, JFood's special thali is best thing
        in Indian food and pizza is also amazing. A good place to get around to top up your stomach, when in a hurry, as
        it is on your way.</h4>
      <!-- <a href=""><button> <a href="Read more.html">Read More</a></button></a> -->
    </div>

  </section>


  <section class="container">

    <div class="right-side">

      <h4>You'll not regret having visited this place, unless you need some calm, serene moments. Do not opt for this
        place if you wish to stay away from crowds. Here you have great food, good ambiance and nice service. Our
        popular dishes includes Veg Biryani, Masala Dosa, Noodles and Pizza. It is one of the quality restaurant from
        Chandrapur.</h4>
    </div>

    <div class="left-side">
      <!-- <img src="css/images/read 2.jpg"/> -->
      <img src="../static/images/read 2.jpg" th:src="@{/images/read 2.jpg}">
    </div>

  </section>


  <section class="container">

    <div class="left-side">
      <img src="../static/images/read3.jpg" th:src="@{/images/read3.jpg}">
    </div>
    <div class="right-side">

      <h4> Our chefs are dedicated to using only the freshest ingredients and creating dishes that will satisfy your
        taste buds. Come and visit us today! For any kind of assistance or questions,you can contact us on given contact
        number. Get in touch with us! Nagpur Road, Civil Lines, Chandrapur Maharashtra(442401). <br> Open: 10.00 AM -
        11.00 PM.</h4>
    </div>

  </section>

  <footer class="footer">
    <div class="container-3">
      <div class="row">
        <div class="footer-col">
          <h4>Location</h4>
          <p4>Nagpur Road,</p4><br>
          <p5>Civil Lines,Chandrapur</p5><br>
          <p5>Maharashtra(442401)</p5>
        </div>

        <div class="footer-col">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/">Home</a></li><br>
            <li><a href="/about">About</a></li><br>
            <li><a href="/explore">Explore Food</a></li><br>
            <li><a href="/reviews">Review</a></li><br>
            <li><a href="/orderpg">Order</a></li><br>
            <li><a href="/contact">Contact</a></li><br>
          </ul>
        </div>


        <div class="footer-col">
          <h4>Contact Info</h4>
          <ul>
            <li><a href="">+123-456-7890</a></li>
            <li><a href="">+111-222-3330</a></li>
            <li><a href="#">hudpriya@gmail.com</a></li>
            <li><a href="#">raneprati@gmail.com</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Social-links</h4>
          <div class="social-icon">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>

      </div>
    </div>
    <div class="footer-bottom">
      <p6>Copyright &copy: 2019 JFood. <span>All Rights Reserved</span></p6>
    </div>
  </footer>

</body>

</html>