<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="../static/css/review.css" th:href="@{/css/review.css}">
    <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
</head>
<body>
    <div class="main">
        <div class="wrapper">
          <div class="header">
            <nav>
              <div class="logo">
                <a href="">JFood</a>
              </div>
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/explore">EXPLORE FOOD</a></li>
                <li><a href="/reviews">REVIEW</a></li>
                <li><a href="/contact">CONTACT</a></li>
              </ul>
            </nav>
            </div>
            </div>
            </div>
    
            <div class="testimonials">
              <div class="inner">
                <h1>Customer Review</h1>
                <div class="border"></div>
                
                <div class="row">
                  <div class="col">
                    <div class="testimonial">
                       <!-- <img src="css/images/reviwe5.jpg " class="review-image">  -->
                       <img src="../static/images/reviwe5.jpg" th:src="@{/images/reviwe5.jpg}">
                    
                      <div class="name">karan matte</div>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>

                      <p>It's a awesome place food is superb Specialy Dum Biryani & Pizza.</p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="testimonial">
                      <!-- <img src="css/images/review2.jpg" class="review-image"> -->
                      <img src="../static/images/review2.jpg" th:src="@{/images/review2.jpg}">
                      <div class="name">riya patil</div>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>

                      <p>"Nice place lovely food great service", Awsome and unique taste must try.</p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="testimonial">
                      <!-- <img src="css/images/review3.jpg" class="review-image"> -->
                      <img src="../static/images/review3.jpg" th:src="@{/images/review3.jpg}">
                      <div class="name">Rashi Rane</div>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>

                      <p>Order any food item the taste you'll get is awesome.</p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="testimonial">
                      <!-- <img src="css/images/review1.jpg" class="review-image"> -->
                      <img src="../static/images/review1.jpg" th:src="@{/images/review1.jpg}">
                      <div class="name">Riya sen</div>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>

                      <p>"Home like food and quality served",they serve fresh food.</p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="testimonial">
                      <!-- <img src="css/images/review 7.jpg" class="review-image"> -->
                      <img src="../static/images/review 7.jpg" th:src="@{/images/review 7.jpg}">
                      <div class="name">Neha yadav</div>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>

                      <p>There was nice service and food in this restaurant. I like seating arrangement. </p>
                    </div>
                  </div>

                  <div class="col">
                    <div class="testimonial">
                      <!-- <img src="css/images/review4.jpg" class="review-image"> -->
                      <img src="../static/images/review4.jpg" th:src="@{/images/review4.jpg}">
                      <div class="name">Raj dey</div>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>

                      <p>Very good food,Chinese food here is very nice special thali is best thing in Indian food.</p>
                    </div>
                  </div>

              </div>
              </div>
            </div>

 
          
            <footer class="footer">
              <div class="container-3">
                <div class="row">
                  <div class="footer-col">
                    <h4>Location</h4>
                    <p4>Nagpur Road,</p4><br>
                    <p5>Civil Lines,Chandrapur</p5><br>
                    <p5>Maharashtra(442401)</p5>
                  </div>
          
                 <div class="footer-col">
                  <h4>Quick Links</h4>
                  <ul>
                    <li><a href="/">Home</a></li><br>
                    <li><a href="/about">About</a></li><br>
                    <li><a href="/explore">Explore Food</a></li><br>
                    <li><a href="/reviews">Review</a></li><br>
                    <li><a href="/orderpg">Order</a></li><br>
                    <li><a href="/contact">Contact</a></li><br>
                  </ul>
                 </div>
          
          
                 <div class="footer-col">
                  <h4>Contact Info</h4>
                  <ul>
                    <li><a href="">+123-456-7890</a></li>
                    <li><a href="">+111-222-3330</a></li>
                    <li><a href="#">hudpriya@gmail.com</a></li>
                    <li><a href="#">raneprati@gmail.com</a></li>
                  </ul>
                 </div>
    
                 <div class="footer-col">
                  <h4>Social-links</h4>
                  <div class="social-icon">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                  </div>
                 </div>
          
                </div>
              </div>
               <div class="footer-bottom">
                <p6>Copyright &copy: 2019 JFood. <span>All Rights Reserved</span></p6>
              </div> 
            </footer>

       <script src="../static/javascript/review.js" th:src="@{/javascript/review.js}"></script>

</body>
</html>